{% extends 'base.html' %}


{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">${{ product.price }}</p>
                <p class="card-text">Quantity: {{ product.stock }}</p>
                <a href="{{ product.image_url }}" class="btn btn-primary">View Product</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
